# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# VS Code / Rider
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
dist/
*.local

# Environment & Secrets
.env
.env.*.local
.env.local